@using GridShared
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@inject NavigationManager navigationManager;
@inject HttpClient httpClient;

    
<BSRow>
    <BSCol>
        <BSButton Class="btn btn-primary btn-circle float-right" OnClick="AddItem">
            <i class="fas fa-plus"></i>
        </BSButton>
    </BSCol>
</BSRow>
<BSRow>
    <BSCol>
        @if (_task.IsCompleted)
        {
            <GridComponent T="CurrencyModel" Grid="@_grid" OnRowClicked="@EditItem"></GridComponent>
        }
        else
        {
            <p><em>Loading...</em></p>
        }
    </BSCol>
</BSRow>
<CurrencyEdit
    @ref="EditInstance"
    ModalHeader="Add/Edit Currency"
    OnHide="@(()=> _grid.UpdateGrid())"
    Model="@selectedItem" />


@code {
    private CurrencyEdit EditInstance;
    private CGrid<CurrencyModel> _grid;
    private Task _task;
    private Modal CurrencyModal;
    private CurrencyModel selectedItem { get; set; }

    
    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        selectedItem = selectedItem ?? new CurrencyModel();
    }
    
    public static Action<IGridColumnCollection<CurrencyModel>> Columns = c =>
    {
        c.Add(o => o.Code).SetWidth("20%").Sortable(true);
        c.Add(o => o.Name).SetWidth("70%").Sortable(true);
        c.Add(o => o.Symbol).SetWidth("10%");
    };

    protected override async Task OnInitializedAsync()
    {
        string url = navigationManager.BaseUri + "api/currency";
        var query = new QueryDictionary<StringValues>();
        var client = new GridClient<CurrencyModel>(url, query, false, "Currencies", Columns)
            .WithPaging(10)
            .Selectable(true);
        _grid = client.Grid;

        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }
    void AddItem()
    {
        selectedItem = new CurrencyModel();
        EditInstance.Toggle();
    }
    protected void EditItem(object item)
    {
        if (item.GetType() == typeof(CurrencyModel))
        {
            
            var newItem = (CurrencyModel)item;
            selectedItem = newItem;
            this.StateHasChanged();
            EditInstance.Toggle();
        }
    }
}
