@page "/settings/general"

@inject HttpClient httpClient;
@inject NavigationManager navigationManager;

<BSContainer IsFluid="true">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">General Settings</h1>
    </div>
    <BSRow>
        <BSCol>
            <CollapsibleCard Header="Account Types" Collapsed="true">
                <AccountTypeList />
            </CollapsibleCard>
        </BSCol>
    </BSRow>
    <BSRow>
        <BSCol>
            <CollapsibleCard Header="Currencies" Collapsed="true">
                <CurrencyList />
            </CollapsibleCard>
        </BSCol>
    </BSRow>
    <BSRow>
        <BSCol>
            <CollapsibleCard Header="Payees" Collapsed="true">
                <PayeeList />
            </CollapsibleCard>
        </BSCol>
    </BSRow>
</BSContainer>

@code {

}
