@model AccountViewModel

@{
    ViewData["Title"] = "Edit Account";
}

<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div class="form-group d-flex flex-row-reverse justify-content-between align-items-center">
                <button value="Save" class="btn btn-primary btn-sm"><i class="material-icons">save</i></button>
                <span class="font-weight-bold text">@ViewData["Title"]</span>
                <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="material-icons">cancel</i></a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IconCode" class="control-label"></label>
                <input asp-for="IconCode" class="form-control" />
                <span asp-validation-for="IconCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountTypeId" class="control-label"></label>
                @Html.DropDownListFor(
                    p => p.AccountTypeId,
                    new SelectList(Model.ListOfAccountTypes, "Id", "Name"),
                    "Select Type",
                    new { @class = "form-control"})
                <span asp-validation-for="AccountTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyCode" class="control-label"></label>
                @Html.DropDownListFor(
                        m => m.CurrencyCode,
                        new SelectList(Model.ListOfCurrencies, "Code", "Code"),
                        "Select Currency",
                        new { @class = "form-control" })
                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalanceDate" class="control-label"></label>
                <input type="date" asp-for="BalanceDate" class="form-control" />
                <span asp-validation-for="BalanceDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeInTotals" /> @Html.DisplayNameFor(model => model.IncludeInTotals)
                </label>
            </div>
        </form>
    </div>
</div>

