<li class="nav-item dropdown no-arrow">
    <AuthorizeView>
        <Authorizing>
            <a class="sign-in" href="/login">Sign in</a>
        </Authorizing>
        <Authorized>
                <a class="nav-link dropdown-toggle @settingsMenuCssClass" href="#" id="userDropdown" role="button" data-toggle="dropdown" @onclick="ToggleSettingsMenu">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@context.User.Identity.Name</span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in @settingsMenuCssClass" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
        </Authorized>
        <NotAuthorized>
            <NavLink class="nav-link" href="/login">Sign in</NavLink>
        </NotAuthorized>
    </AuthorizeView>
</li>

@code{
    private bool isUserSettingsCollapsed = false;

    void ToggleSettingsMenu()
    {
        isUserSettingsCollapsed = !isUserSettingsCollapsed;
    }
    string settingsMenuCssClass => isUserSettingsCollapsed ? "show" : null;
}