@inherits LayoutComponentBase



<div id="wrapper">
    <SidebarMenu/>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <HeaderMenu />
            @Body            
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top" style="display: none;">
    <i class="fas fa-angle-up"></i>
</a>
