
<ul class="nav navbar-nav navbar-right">
    <li><a class="btn btn-secondary btn-sm mr-3" asp-controller="Auth" asp-action="Login">Login</a></li>
    <li><a class="btn btn-primary btn-sm" asp-controller="Auth" asp-action="Register">Sign Up</a></li>
</ul>


