@page "/login"
@layout LoginLayout

@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <BSRow>
                        <BSCol LG="6" Class="d-none d-lg-block bg-login-image"></BSCol>
                        <BSCol LG="6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <BSForm class="user" Model="model" OnValidSubmit="OnSubmit">
                                    <BSFormGroup>
                                        <BSInput InputType="InputType.Email" Class="form-control-user" @bind-Value="model.UserName" id="exampleInputEmail" placeholder="Enter Email Address..." />
                                    </BSFormGroup>
                                    <BSFormGroup>
                                        <BSInput InputType="InputType.Password" class="form-control-user" id="exampleInputPassword" placeholder="Password" @bind-Value="model.Password" />
                                    </BSFormGroup>
                                    <BSFormGroup>
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" @bind="model.RememberMe" />
                                            <BSLabel class="custom-control-label" for="customCheck">Remember Me</BSLabel>
                                        </div>
                                    </BSFormGroup>
                                    <BSLabel Class="text-danger">@error</BSLabel>
                                    <BSButton ButtonType="ButtonType.Submit" class="btn-primary btn-user btn-block">
                                        Login
                                    </BSButton>
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                </BSForm>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <NavLink class="small" href="/register">Create an Account!</NavLink>
                                </div>
                            </div>
                        </BSCol>
                    </BSRow>
                </div>
            </div>

        </div>

    </div>

</div>


@code {
    LoginModel model { get; set; } = new LoginModel();
    string error;

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(model);
            navigationManager.NavigateTo("/", true);
        }
        catch(Exception ex)
        {
            error = ex.Message;
            Console.WriteLine(error);
        }
    }
}
