@page "/"

<BSTable IsHovarable="true" IsBordered="true">
    <tbody style="font-size:x-large">
        <tr class="text-danger font-weight-bold">
            <td>Expenses</td>
        </tr>
        <tr class="text-primary font-weight-bold">
            <td>Income</td>
        </tr>
        <tr class="text-success font-weight-bold">
            <td>Accounts</td>
        </tr>
    </tbody>
</BSTable>