@model  AccountTypeDto
@{
    ViewData["Title"] = "New Account Type";
}

<h3>@ViewData["Title"]</h3>
<hr/>
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-sm float-right" />
                <input asp-action="Index" type="submit" value="Cancel" class="btn btn-secondary btn-sm" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>