@model  AccountTypeViewModel
@{
    ViewData["Title"] = "Edit Account Type";
}

<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group d-flex flex-row-reverse justify-content-between">
                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                <span>@ViewData["Title"]</span>
                <a asp-action="Index" class="btn btn-secondary btn-sm">Cancel</a>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>